/* .links ul li:hover a{
    color:#329122;
    box-shadow: 0 0 4px 0 yellowgreen
    ,0 0 8px 0 yellowgreen
    ,0 0 12px 0 yellowgreen
    ,0 0 16px 0 yellowgreen;
}
.links ul li a {
    text-decoration: none;
    color:#e222aa;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
} */